<h1>
  {{title}}
</h1>
<hello-library></hello-library>
<sample-component></sample-component>
<div>{{ 'HELLO' | translate:param }}</div>
<p>
  {{ 'LANG.LABEL' | translate }}
</p>
<button type="button" (click)= "changeLanguage('eu')">{{ 'LANG.BASQUE' | translate }}</button>
<button type="button" (click)= "changeLanguage('es')">{{ 'LANG.SPANISH' | translate }}</button>
<button type="button" (click)= "changeLanguage('en')">{{ 'LANG.ENGLISH' | translate }}</button>

<p>Apply Credit card mask pipe: {{'343665987286008' | creditCardMask}}</p>
<p>{{ 'all words in capitalize start' | allWordsCapitalize }} </p>
<p> Anartz in reverse: "{{ 'Anartz' | reverseStr}}"</p>
<p> Anartz with vocal hide: "{{ 'Anartz' | vocalHide}}"</p>
<p> Anartz with  no vocal hide: "{{ 'Anartz' | noVocalHide}}"</p>
<p> Apply Pipe inside component {{ creditCardValueWithTransform}}</p>


 
<div class="row">
    <h3>Fahrenheit to Celsius </h3>
    <p> Fahrenheit : 32
             Celsius : {{32 | tempConverter:'C'}} </p>
             <input type="number" [(ngModel)]="f" value="32"/>
             {{f | tempConverter:'C'}}
</div>
 
<div class="row">
    <h3>Celsius to Fahrenheit </h3>
    <p> celsius : 34 
             Fahrenheit : {{34 | tempConverter:'F'}} </p>
    <ul> 
         <li *ngFor="let f of Farenheit">
           {{f.value}} ºC --> {{f.value | tempConverter:'F'}} F.
         </li>
         
    </ul>
</div>

<div class="row">
    <h3>Math Pipes</h3>
    <p> SQRT (34): {{34 | mathSqrt}} </p>
    <p> Pow (2,6): {{p | mathPow:6}} </p>

</div>
<div class="row">
  <h3>Image Default Directive</h3>
  <p>Not load correctly image and show img/assets/ directory default image</p>
  <img [src]="'ddd'"
                          default="./assets/img/default.png">
  <p>Load correct image</p>
  <img [src]="'http://d2.alternativeto.net/dist/icons/iconfinder_105035.png?width=200&height=200&mode=crop&upscale=false'" 
                              default="./assets/img/default.png">
</div>

 
<!-- selectKey define output inside key-events that response to emit result-->
<!-- keyChange event define inside this template component-->
<keyboard-events [key]="''"
        (selectKey)="keyChange($event)" [showLog]="'yes'"></keyboard-events>